<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Sanctum Books</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <!--  // <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  </head>

  <body>
    <!-- navbar -->
    <div class="pusher">
      <div class="ui inverted vertical center aligned purple segment">
        <div class="ui container">
          <div class="ui large secondary inverted menu">
            <%= link_to "Home", { controller: "/welcome" }, :class => "item" %>
            <%= link_to "Blog", { controller: "/articles"}, :class => "item" %>
            <a class="item">Pulps</a>
            <a class="item">Collectibles</a>
            <div class="right item">
              <%= link_to "Sign Up", new_user_registration_path, :class => "ui inverted button" %>
              <%= link_to "Log In", user_session_path, :class => "ui inverted button" %>
              <%= link_to "Sign Out", destroy_user_session_path, :class => "ui inverted button", :method => :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
